//- ---------------------------------------- [START] 麵包屑
//- 麵包屑
//- ======================== [START] 範例
	// 麵包屑
	-
		var breadcrumb = [
			{ title: "第一層頁面標題1", href: "無連結使用#字號" },
			{ title: "第二層頁面標題2", href: "頁面連結" }
		]
	+buildBreadcrumbs(breadcrumb)
//- ======================== [END] 範例
mixin breadcrumbs(href, text, value)
	li(itemprop="itemListElement" itemscope='' itemtype="https://schema.org/ListItem")
		- tanName= href !== '#' ? 'a' : 'span' // 無連結改為 span
		+tag(tanName)(itemprop="item" href=tanName==='a' ? href : null)
			span(itemprop="name") #{text}
		meta(itemprop="position" content=value)
mixin buildBreadcrumbs(array, lang)
	- lang= lang || 'en'
	- 
		langData = {
			en: {
				nav: 'You are here:',
				current: 'Current: ',
				home: 'Home'
			},
			'zh-Hant-TW': {
				nav: '現在位置：',
				current: '目前頁面：',
				home: '首頁'
			}
		}
	nav.breadcrumbs-wrapper(aria-label=langData[lang].nav)
		ol.breadcrumbs(itemscope='' itemtype="https://schema.org/BreadcrumbList")
			//- Home (First Item)
			li(itemprop="itemListElement" itemscope='' itemtype="https://schema.org/ListItem")
				a(itemprop="item" href='/') 
					span(itemprop="name")= langData[lang].home
				meta(itemprop="position" content="1")
			each val, index in array
				if index === array.length - 1
					//- Last Item
					li(itemprop="itemListElement", itemscope='' itemtype="https://schema.org/ListItem")
						span.show-for-sr(aria-current="page")= langData[lang].current
						span(itemprop="name") #{val.title}
						meta(itemprop="position", content=index + 2)
				else
					//- Other
					+breadcrumbs(val.href, val.title, index + 2)
//- ---------------------------------------- [END] 麵包屑
