include _mixin
block vars
  //- 頁面標題、敘述
  - title= ''
  - description= '頁面敘述'

  //- 網站語系
  //- FB OG，檢測：https://developers.facebook.com/tools/debug/
  - lang= 'zh-Hant-TW' // 網站語系，台灣:zh-Hant-TW，寫於<html>的lang
  - ogLang= 'zh_TW' // 網站語系，台灣:zh_TW，寫於 FB OG 的 lang

  - webUrl= 'http://example.com.tw/' // 設定測試站網址，用於 OG Image (要用絕對網址)
doctype html
html.no-js(lang=lang)
  head
    // [START] 測試站防止被爬蟲搜尋
    //
      上線後刪除此段Meta與註解
      參考文件：https://developers.google.com/search/reference/robots_meta_tag?hl=zh-tw
    meta(name="robots" content="noindex, nofollow,noarchive,nosnippet,noimageindex,noodp")
    // [END] 測試站防止被爬蟲搜尋

    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=3.0')
    //- ↓停止自動產生電話(tel:)連結
    meta(name="format-detection" content="telephone=no")
    //- ↓Mobile Browser Color
    meta(name="theme-color" content="#000000")
    //- ↓頁面標題
    - titleShow= `${title}專案名稱`
    title= titleShow

    link(rel="shortcut icon" type="image/x-icon" href="images/favicon.ico")
    link(rel="apple-touch-icon" href="images/touch-icon.png")


    // [START] SEO Setting
    block seo
      // OG Image 需換上正確網址連結
      | <!--
      link(rel="canonical" href="頁面連結")
      | -->
      meta(name="description" content=description)
      meta(name="keywords" content="關鍵字設定")
      meta(property="og:type" content="website")
      meta(property="og:title" content=titleShow)
      meta(property="og:description" content=description)
      | <!--
      meta(property="og:url" content="頁面連結")
      | -->
      //- ↓網頁代表圖FB使用1200x630
      meta(property="og:image" content=`${webUrl}images/og-img.png`)
      //- ↓網站語系，台灣:zh_TW
      meta(property="og:locale" content=ogLang)
      //- ↓使用[summary|summary_large_image|app|player]其一
      meta(name="twitter:card" content="summary")
      meta(name="twitter:site" content="@TwitterUsername")
      meta(name="twitter:creator" content="@AuthorTwitterUsername")
      meta(name="twitter:title" content=titleShow)
      meta(name="twitter:description" content=description)
      meta(name="twitter:image" content=`${webUrl}images/og-img.png`)
    // 結構化資料(JSON-LD) - Global
    //- Ref: https://jsonld.com/organization/
    //- 公司組織、Website + 搜尋框（必填）
    script(type='application/ld+json').
      {
        "@context":"http://schema.org",
        "@graph": [
          {
            "@type":"Organization",
            "name":"公司名稱（短）",
            "legalName":"公司名稱（法律上註冊）",
            "foundingDate":"yyyy-mm-dd",
            "url":"#{webUrl}",
            "logo":"#{webUrl}images/logo.svg",
            "contactPoint" : [
              {
                "@type" : "ContactPoint",
                "telephone" : "+1-888-888-9999",
                "contactType" : "customer service",
                "contactOption" : "TollFree",
                "areaServed" : "US"
              } , {
                "@type" : "ContactPoint",
                "telephone" : "+1-888-888-9998",
                "contactType" : "Sales"
              } , {
                "@type" : "ContactPoint",
                "telephone" : "+1-888-888-9997",
                "contactType" : "technical support",
                "contactOption" : "TollFree",
                "areaServed" : "US",
                "availableLanguage" : ["English","French"]
              } , {
                "@type" : "ContactPoint",
                "telephone" : "+1-888-888-9997",
                "contactType" : "bill payment",
                "contactOption" : "TollFree",
                "areaServed" : ["US","GB"]
              }
            ],
            "address": {
              "@type":"PostalAddress",
              "postalCode":"104",
              "streetAddress":"街道名稱",
              "addressLocality":"ＸＸ市ＸＸ區",
              "addressRegion":"台灣",
              "addressCountry": {
                "@type": "Country",
                "name": "TW"
              }
            },
            "sameAs": [
              "https://zh.wikipedia.org/wiki/巴拉巴拉",
              "https://www.example.com/",
              "https://www.facebook.com/example",
              "https://www.youtube.com/user/example"
            ]
          },
          {
            "@type":"WebSite",
            "url":"#{webUrl}",
            "potentialAction": {
              "@type":"SearchAction",
              "target":"/search?q={globalSearch}",
              "query-input":"required name=globalSearch"
            },
            "name":"專案名稱"
          }
        ]
        
      }
    // [END] SEO Setting


    //- preconnect: 預先和指定的 Domain 連線（避免要載過多的資源）
    //- // [START] preconnect
    //- link(rel="preconnect" href="https://www.google-analytics.com" crossorigin='')
    //- // [END] preconnect

    //- preload: 告訴瀏覽器：「這份資源對目前的頁面是必要的，請用最快的速度下載此資源。」
    // [START] preload
    link(rel="preload" as="font" type="font/woff2" crossorigin='' href="fonts/icons/icon.woff2")
    // [END] preload


    // [START] Web Font
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@600&display=swap" media="print" onload="this.media='all'")
    noscript: link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@600&display=swap")
    // [END] Web Font


    // [START] CSS ==================================================
    // CSS - Common
    link(rel="stylesheet", href="css/main.min.css")

    // CSS - Page
    block style
    // [END] CSS ==================================================
  body
    include _header
    // [START] Content ==================================================
    main.main-wrapper
      block content 
    // [END] Content ==================================================
    include _footer

    // [START] JS ==================================================
    // JS - Common
    | <!-- 有需要 jQuery 才打開
    script(src="js/jquery-3.7.1.min.js")
    | -->
    //- --------------------------------------- [START] Global Plugin
    script(src="js/lib-main.min.js" async)
    //- --------------------------------------- [END] Global Plugin
    //- --------------------------------------- [START] Project Script
    script(src="js/main.min.js" defer)
    //- --------------------------------------- [END] Project Script

    // JS - Page
    block script
    // [END] JS ==================================================
