//- ---------------------------------------- [START] TAG
//- 使用方法：
//- +tag(tagName)(class="" ...otherAttributes)
mixin tag(tag)
	case tag
		when 'a': a&attributes(attributes): block
		when 'button': button&attributes(attributes): block
		when 'ul': ul&attributes(attributes): block
		when 'ol': ol&attributes(attributes): block
		when 'li': li&attributes(attributes): block
		when 'strong': strong&attributes(attributes): block
		when 'span': span&attributes(attributes): block
		when 'h1': h1&attributes(attributes): block
		when 'h2': h2&attributes(attributes): block
		when 'h3': h3&attributes(attributes): block
		when 'h4': h4&attributes(attributes): block
		when 'h5': h5&attributes(attributes): block
		when 'h6': h6&attributes(attributes): block
		when 'p': p&attributes(attributes): block
		default: div&attributes(attributes): block
//- ---------------------------------------- [END] TAG



//- ---------------------------------------- [START] 生成顯示幾乘幾的灰色圖
//- 使用方式
	img(src=imgRender(寬, 高))
-
	function imgRender(width, height, color) {
		return `https://via.placeholder.com/${width}x${height}/${color||'ccc'}`
	}
//- ---------------------------------------- [END] 生成顯示幾乘幾的灰色圖



//- ---------------------------------------- [START] 麵包屑
//- 麵包屑
//- ======================== [START] 範例
	// 麵包屑
	-
		var breadcrumb = [
			{ title: "第一層頁面標題1", href: "無連結使用#字號" },
			{ title: "第二層頁面標題2", href: "頁面連結" }
		]
	+buildBreadcrumbs(breadcrumb)
//- ======================== [END] 範例
mixin breadcrumbs(href, text, value)
	li(itemprop="itemListElement" itemscope='' itemtype="https://schema.org/ListItem")
		- tanName= href !== '#' ? 'a' : 'span' // 無連結改為 span
		+tag(tanName)(itemprop="item" href=tanName==='a' ? href : null)
			span(itemprop="name") #{text}
		meta(itemprop="position" content=value)
mixin buildBreadcrumbs(array, lang)
	- lang= lang || 'en'
	- 
		langData = {
			en: {
				nav: 'You are here:',
				current: 'Current: ',
				home: 'Home'
			},
			'zh-Hant-TW': {
				nav: '現在位置：',
				current: '目前頁面：',
				home: '首頁'
			}
		}
	nav.breadcrumbs-wrapper(aria-label=langData[lang].nav)
		ol.breadcrumbs(itemscope='' itemtype="https://schema.org/BreadcrumbList")
			//- Home (First Item)
			li(itemprop="itemListElement" itemscope='' itemtype="https://schema.org/ListItem")
				a(itemprop="item" href='/') 
					span(itemprop="name")= langData[lang].home
				meta(itemprop="position" content="1")
			each val, index in array
				if index === array.length - 1
					//- Last Item
					li(itemprop="itemListElement", itemscope='' itemtype="https://schema.org/ListItem")
						span.show-for-sr(aria-current="page")= langData[lang].current
						span(itemprop="name") #{val.title}
						meta(itemprop="position", content=index + 2)
				else
					//- Other
					+breadcrumbs(val.href, val.title, index + 2)
//- ---------------------------------------- [END] 麵包屑
